// Specific CSS for your home-page

.logo-and-text {
  margin: 10px;
}

.buttons {
  display: flex;
  margin: 10px;
  font-size: 20px;
  justify-content: space-around;
}

.home-pic {
  height: 250px;
}
