/// counter & header

#notification-counter {
  position: absolute;
  top: 8px;
  right: 25px;
  // background-color: $dark-blue;
  background-color: rgb(212, 78, 3);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 8px Verdana;
}

.hidden {
  display: none;
}

/// notifications feed

.notif-card {
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.3);
  color: black;
}

.notif-card:hover {
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.3);
  color: black;
  text-decoration: none !important;
}

// .notif-event {

// }


#notificationsBody  ul
{
  padding-left: 0;
}

.notification-card {
  margin-top: 5px;
  border: 1px solid rgba(100, 100, 100, .4);
}

#notificationContainer
{
  background-color: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  overflow: visible;
  position: absolute;
  top: 70px;
  margin-left: -253px;
  width: 300px;
  z-index: 0;
  display: none;
}


#notificationContainer:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid black;
  border-color: transparent transparent white;
  margin-top: -20px;
  margin-left: 258px;
}

#notificationTitle
{
  font-weight: bold;
  padding: 8px;
  font-size: 13px;
  background-color: #f0f0f0;
  position: absolute;
  z-index: 1;
  width: 284px;
  border-bottom: 1px solid #d44e03;
  color: #d44e03;
}

#notificationsBody
{
  padding: 3px 0px 0px 0px !important;
  min-height:300px;
  max-height:300px;
  overflow: auto;
  position: relative;
  width: 100%;
}
