

<% if notification.user == current_user %>
  <li>
    <div class="notif-card">
      <div class="notif-event">
        <%= notification.event %>
        <% notification.status = true %>
        <% if notification.comment %>
           <%= link_to ('at your post'), notification.comment.post  %>
           <% else %>
           <%= link_to ('at your post'), notification.reaction.post  %>
        <% end %>

      </div>
      <span>
        <p>
        <%= notification.created_at.strftime("%d %b. %Y") %>
        </p>
      </span>
    </div>
  </li>
<% end %>
