  <% if notification.user == current_user %>
    <li>
      <div class="notification-card">
        <%= notification.event %>
        <% notification.status = true %>
        <span> <%= notification.created_at.strftime("%d %b. %Y") %></span>
        <% if notification.comment %>
           <%= link_to 'post', notification.comment.post  %>
           <% else %>
           <%= link_to 'post', notification.reaction.post  %>
        <% end %>
      </div>
    </li>
  <% end %>
