<div class="container">
  <h1>Last Notifications</h1>
  <!-- <p>Find me in app/views/notifications/index.html.erb</p> -->
  <br>
  <br>
  <%= render "notification_center", notifications: @notifications %>
</div>

