<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mt-5">
      <p>Hi,<%= @user.nickname %></p>

        <div id="show-avatar-profile" style="background-color: <%= @user.background_color %> ">
          <!-- &nbsp; -->
          <%= @user.emoji %>
        </div>

      <div class="nav-item dropdown">
        <div>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
</div>
