<div class="container col-9">
  <br>
  <p>Hi,<%= @user.nickname %></p>

  <div class="d-flex justify-content-around">
    <div id="show-avatar-profile" style="background-color: <%= @user.background_color %> ">
      <!-- &nbsp; -->
      <%= @user.emoji %>
    </div>
  </div>

  <div class="nav-item dropdown">
    <div>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>

</div>
