<% if user_signed_in? %>
  <div class="navbar-lewagon navbar-expand-sm">
    <ul class="navbar-nav">

        <div class="list-icons-nav-bar" >
          <li class="nav-item active">
            <%= link_to posts_path, class: "nav-link" do %>
            <i class="bi bi-house-fill" > </i>
            <% end %>
          </li>

          <li class="nav-item active">
            <%= link_to new_post_path, class: "nav-link" do %>
            <i class="bi bi-screwdriver"></i>
            <% end %>
          </li>

          <li>
            <%= link_to '<i class="bi bi-person-circle"></i>'.html_safe, profile_path, class: "nav-link" %>
          </li>
        </div>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
    </ul>
  </div>
<% end %>
