
<% if user_signed_in? %>
  <div class="navbar-lewagon navbar-expand-sm d-flex justify-content-center">
    <div class="list-icons-nav-bar">

        <div class="">
          <%= link_to posts_path, class: "nav-link" do %>
          <!-- <h1 class="btn-info btn-rounded-white-navbar"></h1> -->
          <span class="icon-home" aria-hidden="true"></span>
          <% end %>
        </div>

        <div class="">
          <%= link_to new_post_path, class: "nav-link" do %>
          <span class="icon-add" ></span>
          <% end %>
        </div>

        <div class="">
          <%= link_to profile_path, class: "nav-link" do %>
          <!-- <h1 class="btn-info btn-rounded-white-navbar"></h1> -->
          <span class="icon-profile" aria-hidden="true"></span>
          <% end %>
        </div>
      </div>

<% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
    </div>
  </div>
<% end %>
