<div class="container">
  <div>
    <div class="logo-and-text">
      <h1>Screw App</h1>
      <p> * insert logo here * </p>
      <p> If life gives you screw-ups, make Screws out of them! </p>
    </div>

<br>
<br>
<br>

    <div class="buttons">
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Sign-up", new_user_registration_path %>
    </div>
  </div>
</div>

