   <style>
     body {background-color: orange;}
   </style>
<div class="container">
    <div class="home-banner d-flex justify-content-center">
      <%= image_tag('home.png', class: "home-pic") %>
    </div>

    <div class="logo-and-text">
      <h1>Screw App</h1>
      <p> * insert logo here * </p>
      <p> If life gives you screw-ups, make Screws out of them! </p>
    </div>

<br>
<br>
<br>

    <div class="buttons d-flex justify-between">
      <%= link_to "Login", new_user_session_path, class: "btn-primary btn-rounded-blue" %>
      <%= link_to "Sign-up", new_user_registration_path, class: "btn-info btn-rounded-white" %>
    </div>
</div>

