<h1>Screwfeeds</h1>

<% @posts.each do |post| %>

<ul>
  <li>
    <% unless post.hide_content? %>
     <p><%= post.content %></p>
    <% end %>
    <%= link_to 'Edit', edit_post_url(post) %>
    <%= link_to 'Delete', post_path(post),
      method: :delete,
      data: { confirm: "Are you sure?"} %>

  </li>
</ul>
<% end %>
