.screw-headline-white {
  font-family: "Nanum Pen Script";
  font-size: 32px;
  color: #ffffff;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #ffffff;
  padding-left: 25px;
  padding-top: 10px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
}
