.h2-login {
  color: $white;
}

.h3-login {
  color: $dark-blue;
}

.form-control {
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
  border-radius: 50px;
  border: none;
}

.trending-hashtags {
  display: none;
  position: relative;
  // z-index: 71;
  background-color: #FFFFFF;
  width: 92vw;
  top: 15px;
  padding: 15px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  transition: width 0.3s, height 0.3s;
  border-radius: 10px;
  margin: auto;
}

.input-field {
  width: 70vw;
  heigh: 40px !important;
}
.search-form {
  position: relative;
}

.search-form-container {
  position: relative;

}

.hr-trending-hashtags {
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}

.text-trending-hashtags {
  font-size: 22px;
  color: #d80009;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #d80009;
}

.search-form-expanded {
  width: 92vw;
  top: 5px;
  height: 42px;
  transition: width 1.5s, height 1s;
  border-radius: 10px;
  margin: auto;
}
