.header {
  background: white;
  height: 3.5rem;
  position: fixed;
  top: 0;
  width: 100%;
}

// .header-lewagon .header-collapse {
//   flex-grow: 0;
// }

// .header-lewagon .header-brand img {
//   width: 40px;
// }


// .list-icons-header-bar {
//   display: flex;
//   justify-content: space-around;
// }
