html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.post-parent {
  scroll-margin-top: 200px;
}

.screw-post {
  background: #ffffff;
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.screw-comments {
  font-size: 16px;
  margin: 0;
  width: 80%;
}

.comment {
  padding-bottom: 10px;
}

.screw-nickname {
  font-family: "Nanum Pen Script";
  font-size: 24px;
  color: #0800d8;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #0800d8;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
}
.screw-headline {
  font-family: "Nanum Pen Script";
  font-size: 32px;
  color: #d80009;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #d80009;
  padding-left: 25px;
  padding-top: 10px;
}

.screw-home-headline {
  font-family: "Nanum Pen Script";
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 40px;
  color: $white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: $white;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
}
.screw-app-name {
  font-family: "Nanum Pen Script";
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;
  color: $dark-blue;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: $dark-blue;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
}
.sign-in-headline {
  font-family: "Nanum Pen Script";
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
  color: $white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: $white;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
}

.post-reactions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.post-comment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.3);
}

// posts in the index //

.i-post-card {
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: $white;
  border-radius: 10px;
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.3);
}

.i-user-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.i-post-dropdown {
  height: 45px;
  width: 45px;
}

.margin-comments {
  margin-bottom: 130px;
}

.three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-dots {
  background: url("3-dots.svg");
  height: 20px;
  width: 45px;
  display: block;
  margin-top: 12px;
  margin-right: 10px;
  /* Other styles here */
}

.show-all {
  font-family: "Nanum Pen Script";
  font-size: 18px;
  color: #0800d8;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #0800d8;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
  padding-left: 5px;
  padding-bottom: 2px;
}

.hashtag {
  color: $light-blue !important;
}

.post-new a {
  color: $gray;
}

.disable-button {
  opacity: 0;
}
