.screw-post {
  background: #ffffff;
  box-shadow: 0px 1px 7px -3px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.screw-comments {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 80%;
}

.screw-nickname {
  font-family: "Nanum Pen Script";
  font-size: 24px;
  color: #0800d8;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #0800d8;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.19);
}

.screw-author {
  align-content: center;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
